Django==5.0.6
djangorestframework==3.15.2

# Base de datos MySQL
mysqlclient==2.2.4

# Variables de entorno
python-decouple==3.8

# CORS (si haces frontend después)
django-cors-headers==4.4.0

# Filtros para API
django-filter==24.3

# Utilidades
pytz==2024.1

# Producción (opcional pero recomendado)
gunicorn==22.0.0

# Requests (por si consumes APIs externas)
requests==2.32.3

# Formateo de código (opcional)
black==24.10.0